body.page:not(.twentyseventeen-front-page) .entry-header {
  float: none !important;
  width: 100% !important;
}

body.page:not(.twentyseventeen-front-page) .entry-content {
  float: none !important;
  width: 100% !important;
}

#fscrForm .d-block {
  display: block;
}

#fscrForm .d-inline-block {
  display: inline-block;
}

#fscrForm .field--required {
  color: tomato;
}

#fscrForm .m-0 {
  margin: 0;
}

#fscrForm .f-right {
  float: right;
}

#fscrForm hr {
  margin: 1.5rem 0;
}

#fscrForm .hidden {
  display: none;
}

#fscrForm .space-between {
  justify-content: space-between;
}

.fscrForm__input-wrap {
  margin-bottom: 1rem;
}

.fscrForm__input {
  width: 100%;
}

.fwcr__form__error {
  color: tomato;
  font-size: 0.7rem;
  font-weight: normal;
  min-height: 20px;
  display: block;
  padding: 0 0 4px 0;
}

.fscrForm__label {
  font-weight: 800;
  color: #333;
  font-size: 0.99rem;
  line-height: 1rem;
  display: block;
}

.fscrForm__fieldset {
  border: none;
  margin: 0 0 25px 0;  
  padding: 0;
}

.fscrForm__title {
  border-top: 4px solid #283166;
  border-bottom: 4px solid #283166;
  font-weight: bold;
  margin-bottom: 35px;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

.fscrForm__input-wrap--input-half {
  display: block;
}
@media(min-width: 576px) {
  .fscrForm__input-wrap--input-half {
    display: inline-block;
    width: 48%;
  }
}

.fscrForm__input-container {
  margin-right: 15%;
}

.fscrForm__custom-radio--square {
  border-radius: 2px;
  display: block;
  background-color: #283166;
  color: #fff;
  min-width: 125px;
  text-align: center;
  padding: 15px 0;
  transition: all 0.2s ease;
  margin-bottom: 0;
}

.fscrForm__custom-radio--square:hover,
.fscrForm__custom-radio--square:active,
.fscrForm__custom-radio--square:focus {
  background-color: #79c142;
  cursor: pointer;
}

.fscr__pool-access--active {
  background-color: #79c142;
}

.fscrForm__custom-radio--square input[type=radio]:before {
  display: none;
}
.fscrForm__custom-radio--square.active {
  background-color: #79c142;
}

.fscrForm__page {
  display: none;
}

.fscrForm__page.active {
  display: block;
}

.fscr__button {
  border-radius: 2px;
  display: inline-block;
  min-width: 125px;
  text-align: center;
  padding: 15px 0;
  transition: all 0.2s ease;
}

.fscr__button--primary {
  background-color: #283166;
  color: #fff;
}
.fscr__button--primary:hover,
.fscr__button--primary:active,
.fscr__button--primary:focus {
  background-color: #79c142;
}

.fscrForm__btn-container {
  display: flex;
  justify-content: flex-end;
}

[v-cloak] {
  visibility: hidden;
}

.fscrForm__custom-radio {
  display: block;
  position: relative;
  height: 25px;
}

.fscrForm__custom-radio .fscrForm__label__text {
  margin-left: 35px;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.fscrForm__custom-radio:hover {
  cursor: pointer;
}

.fscrForm__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
}

.fscrForm__custom-radio:hover .fscrForm__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.fscrForm__custom-radio input:checked ~ .fscrForm__checkmark {
  background-color: #283166;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.fscrForm__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.fscrForm__custom-radio input:checked ~ .fscrForm__checkmark:after {
  display: block;
  opacity: 1;
}

/* Style the indicator (dot/circle) */
.fscrForm__custom-radio .fscrForm__checkmark:after {
  content: " ";
  display: block;
  width: 0.4em; /* the short bar of the mark is half as long as the long bar */
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0; /* creates the inverted "L" shape */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  opacity: 0;
}

.fscrForm__custom-radio--checkbox input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
